# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.venv/

# SQLite
*.db
*.sqlite
*.sqlite3

# Node
node_modules/
*.log

# Frontend build
frontend/dist/

# Env
.env
.env.*

# OS
.DS_Store
Thumbs.db
